* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

button {
    width: 175px;
    height: 48px;
    color: white;
    background: #FA0F00;
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 3px;
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

/*header*/
.header {
    padding: 20px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__title {
    border-left: 3px solid #FA0F00;
    padding: 10px 16px;
    font-size: 28px;
}

.header__title__one {
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 400;
}

.header__title__two {
    font-size: 28px;
    letter-spacing: 1px;
    font-style: normal;
}

.header__logo_container {
    padding-top: 20px;
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
}

.header__logo {
    margin-right: 12px;
}

.header__title_name {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: normal;
}

.header__title__first {
    text-transform: uppercase;
    font-weight: normal;
}

.header__title_name span {
    color: #657DA5;
}

.header__image_pencil {
    margin-top: 20px;
    width: 100vw;
    height: 256px;
}

/*introduction*/

.introduction {
    position: relative;
    padding: 40px;
}

.introduction__title {
    margin-bottom: 24px;
}

.introduction__paragraph {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 132px;
}

/*essential*/

.essential__background {
    z-index: -10;
    top: -10px;
    left: -180px;
    position: absolute;
    border-radius: 35%;
    background: #F3F5F7;
    width: 366px;
    height: 366px;
}

.essential__heart {
    font-size: 40px;
    border-radius: 35%;
    background: #FA0F00;
    color: white;
    border: 15px solid #FA0F00;
}

.essential {
    padding-top: 20px;
    position: relative;
}

.essential_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.essential__paragraph {
    width: 330px;
    font-weight: bold;
    line-height: 24px;
    font-size: 20px;
}

.essential__link {
    text-decoration: none;
    color: black;
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #FA0F00;
}

/*hreflang*/
.hreflang {
    margin: 100px 0 60px 0;
}

.hreflang__paragraph {
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/*code_example*/

.code_example {
    padding-top: 36px;
    background: #F3F5F7;
    width: 100vw;

}

.code_example__title {
    font-size: 14px;
    color: white;
    padding: 4px 8px;
    background: #000;
    width: 140px;
    text-transform: uppercase;
    margin-bottom: 24px;
    letter-spacing: 1px;
    line-height: 16px;
}

.code_example__link {
    display: flex;
    height: 96px;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
    border-left: 3px solid #657DA5;
    padding-left: 16px;

}

/*section why*/

.why {
    padding: 60px 0;
}

.why__paragraph {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 135px;
    width: 536px;
    font-size: 16px;
    line-height: 24px;
}

.why__list {
    margin: 0 auto;
    width: 502px;

}

.why__list li {
    color: red;
    font-size: 16px;
    margin-bottom: 24px;
}

.why__list_name {
    color: black;
    font-weight: bold;
}

.why__list_content {
    color: black;
    line-height: 24px;
}

/*magento*/

.magento {
    padding: 32px 0 62px 0;
    z-index: -3;
    background: #771E0E;
    position: relative;

}

.magento__background {
    z-index: -1;
    top: 1px;
    left: -180px;
    position: absolute;
    border-radius: 35%;
    background: #651A0A;
    width: 366px;
    height: 366px;
}

.magento__title-block {
    margin-left: 100px;
    color: white;

}

.magento__title-one {
    width: 305px;
    margin-bottom: 4px;
    border-bottom: 1px solid #FA0F00;
}

.magento__title-two {
    width: 130px;
    margin-bottom: 4px;
    border-bottom: 1px solid #FA0F00;
}

.magento__content-title {
    width: 310px;
    margin: 50px 0 20px 0;
}

.magento__content-paragraph {
    margin: 20px 0 50px 0;
    width: 350px;
    height: 144px;
    line-height: 24px;
}


/*features*/

.features__gear {
    z-index: 289;
    background: #1E2532;
    padding: 15px;
    color: white;
    font-size: 29px;
    border-radius: 35%;
}

.features {
    z-index: -3;
    background: #F3F5F7;
    margin-top: 4px;
    position: relative;
    padding: 35px;

}

.features__content {
    margin: 32px 0 0 90px;
}

.features__background {
    z-index: -1;
    top: 1px;
    left: -180px;
    position: absolute;
    border-radius: 35%;
    background: #EBEEF1;
    width: 366px;
    height: 366px;
}

.features__list {
    margin: 24px 0 0 22px;
}

.features__list-link {
    font-size: 18px;
    width: 318px;
    margin-bottom: 12px;
    line-height: 24px;
    color: #FA0F00;


}

.features__title {
    color: #1E2532;

}

.features__list-link span {
    color: #1E2532;

}

/*info*/


.info__wrapper {
    justify-content: space-between;
    display: flex;
    padding: 60px 0;
}

.info__content {
    width: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__paragraph {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-top: 8px;
}

.info__icon {
    font-size: 44px;
}

.info__title {
    font-size: 15px;
    margin-top: 20px;
    border-bottom: 1px solid #FA0F00;
}

.info__button-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

/*buy*/
.buy {
    background: #F3F5F7;
    padding: 60px 0;
}


.buy__link {
    color: #FA0F00;
}

.buy__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 132px;
}


/*footer*/
.footer {
    padding: 50px 0;
}

.border {
    border-right: 2px solid #E5E5E5;
}

.footer__list {
    display: flex;
    justify-content: center;

}

.footer__link {
    font-weight: 700;
    font-size: 16px;
    padding-right: 7px;
    margin-right: 6px;
    list-style: none;
}

.footer__link a {
    color: black;
    text-decoration: none;
}

.footer__paragraph a {
    color: black
}

.footer__paragraph {
    color: #616773;
    line-height: 24px;
    font-size: 14px;
    margin-top: 25px;
}

.footer__address {
    margin-top: 25px;
}

.footer__address {
    color: #616773;
    line-height: 24px;
    font-size: 14px;
}